@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

.wrapper {
  @apply w-[95%] md:w-[98%] mx-auto max-w-350;
}

.hero-cta {
  @apply !px-4 !py-3 font-[500];
}

.hero-cta span {
  @apply !text-[15px];
}

/* Make slick slides equal height */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
}

.slick-slide > div {
  height: 100%;
}

@media (max-width: 1024px) {
  .hero-section {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 100vh;
  }
}

h1 {
  font-family: 'Lobster', sans-serif;
  @apply text-5xl font-light text-white;
}
